@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
h1 {
	color: rgb(255, 170, 0);
	text-align: center;
	font-size: 30px;
	font-family: 'Mansalva', cursive;
}

h2, h3 {
	color: rgb(0, 34, 255);
	text-align: left;
	font-size: 19px;
	font-family: 'Mansalva', cursive;
}

p {
	color: rgb(60, 153, 224);
	text-align: left;
	font-size: 19px;
	font-family: 'Mansalva', cursive;
}

ul, li {
	color: rgb(158, 102, 171);
	text-align: left;
	font-size: 19px;
	font-family: 'Mansalva', cursive;
}

a:link {
	color: blue;
}

a:visited {
color: rgb(50, 50, 103);
}

input, button {
	font-size: 16px;
	padding: 4px 8px;
	border: 1px solid #efefef
	border-radius: 3px;
	margin-top: 12px;
	color: out-of-range;
	text-align: center;
	font-size: 12px;
	font-family: 'Mansalva', cursive;
}
